*
,*::before
,*::after {
  margin: 0;
  box-sizing: border-box;  
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  margin: 0;
}

.imageStyle {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.carousel {
  height: 70%;
  position: absolute;
}

.btn-info {
  margin: 5px 5px 0 0;
}